.wrapper {
    margin: 0 auto;
    width: 1000px;
}

.banner-cnp {
    width: 1000px;

}

h1 {
    font-family: Arial;
    font-weight: 600;
    text-decoration: underline;
    text-transform: 25px;
    letter-spacing: 3px;
}

.social-media
.aboutme-text
