.wrapper {
    width: min(100%, 1000px);
    }

.banner-cnp {
    width: 100%;
}

h1 {
    font-family: Arial;
    font-weight: 600;
    text-decoration: underline;
    text-transform: 25px;
    letter-spacing: 3px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
